<html>

{% include "layout/head.html" %}

<body>
    <div class="block">
        <h1 style="text-align: center;">{{ title | default: title }}</h1>
        {{ content }}
    </div>

    <div class="block" style="background-color: rgb(172, 173, 240);">
        <h2 style="text-align: center;">Comments</h2><hr>
        <h6 style="text-align: center; color: gray;">Interact on Bluesky</h6>

        <script type="module" src="./src/components/sequoia-comments.js"></script>
        <sequoia-comments></sequoia-comments>
    </div>
</body>

{% include "layout/footer.html" %}

</html>