@font-face {
    font-family: 'everyday-ample';
    src: url('../fonts/everyday_ample.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'everyday-ample';
    src: url('../fonts/everyday_ample_black.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'everyday-ample';
    src: url('../fonts/everyday_ample_black.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

.block{
    text-align: center;
    margin: auto;
    color: white;
    background-color: rgb(103, 103, 103);
    border-color: rgb(133, 133, 133);
    border-style: dashed;
    border-radius: 25px;
    border-width: 5px;
}

#title{
    text-align: center;
    line-height: 0.8;
    font-size: 150%;
}

a:link, a:visited {
    color: #0036b2;
}
a:hover {
    color: #001d66;
    transition: color 0.3s ease;
}

body{
    font-family: 'everyday-ample', Arial, sans-serif;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    background-color: rgb(45, 45, 45);
    color: white;
}